#!/usr/bin/env ./Browser/execdesktop
#
# This file is a self-modifying .desktop file that can be run from the shell.
# It preserves arguments and environment for the start-tor-browser script.
#
# When run, it will update itself with the absolute path to the current TBB
# location. It is therefore possible to install/relocate this file after first
# run (for example, by copying it to ~/.local/share/applications/ so that Tor
# Browser will appear in your desktop applications menu).
#
# This file will also still function if the path changes when TBB is used as a
# portable app, so long as it is run directly from that new directory, either
# via the shell or via the file manager.
#
# If you installed this file to ~/.local/share/applications/ and then relocate
# your TBB directory, Tor Browser will no longer launch from your desktop's
# app launcher/dock. However, if you re-run this file from inside that new
# directory, it will correct the absolute paths, and you can then copy it back
# into ~/.local/share/applications/ again to restore desktop launch
# functionality.

[Desktop Entry]
Type=Application
Name=Tor Browser Setup
GenericName=Web Browser
Comment=Tor Browser is +1 for privacy and -1 for mass surveillance
Categories=Network;WebBrowser;Security;
Exec=sh -c '"$(dirname "$*")"/Browser/start-tor-browser || ([ ! -x "$(dirname "$*")"/Browser/start-tor-browser ] && "$(dirname "$*")"/start-tor-browser)' dummy %k
X-TorBrowser-ExecShell=./Browser/start-tor-browser
Icon=web-browser
